/* Main css with general things like footer and nav */
body{
    background-color: #C0C0C0;
    font-family: 'Roboto', sans-serif;
    margin:0;

}

.flex-container{
    display:flex;

    flex-direction: row;
    padding: 2em;
    gap: 1em;

}
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

img {
    max-width: 500px;
    width: 100%
}

/* ###############
Font-thingies
################*/


h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
}


.fais{
    font-family: "monoton", sans-serif;
}
.nav_fais{
    padding: 14px;
}

.text-white{
    color:#E2E2E2;
}
.text-centered{
    text-align: center;
}

/* ##############
NAVIGATION
###############*/


#topnav{
    display: flex;
    justify-content: space-between;
}


nav {
    min-height: 20px;
    background-color: #312f73;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    align-content: flex-end;
}

nav ul li, l1, nav_fais {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* border: 2px solid #333333; */
}

nav a {
    text-decoration: none;
    color: #E2E2E2;
    text-align: center;
    font-size: 17px;
}

nav ul li a {
    padding: 14px 16px;
    line-height: 3em;
}

nav ul li:hover {
    background-color: #E2E2E2;
}

nav ul li:hover a {
    color: #333;
}

.nav_submenu { /* .nav_submenu */
    display: none;
    position: absolute;
}
/*

nav ul li:hover ul {
    display: block;
}

.l2 {
    display: inline-block;
    position: relative;
    background-color: #472f73;
}
nav ul li:hover ul li a {
    color: #f2f2f2;
}
*/
.icon{
    font-size: 2em;
    margin-right: 1em;
    display:none;
}

@media screen and (max-width: 600px){
    .topnav li{
        position:relative;
        display:none;
    }
    .topnav.responsive {
        background-image: url("test.png")
    }

    .l1, .icon{
        background-color: #312f73;

    }


    .topnav.responsive li{
        display:flex;
        flex-direction: column;
    }
    .icon {
        display: block;
    }

}
.active-l .nav_link{
    /*background-color: #B5B0E4;*/
    background-color:#B5B0e4;
    color: #000;
}

/* OTHERS*/
.button, button {
    border-radius: 15px;
    background-color: #472f73;
    color: #e2e2e2;
    text-align: center;
    padding: 10px;
    text-decoration:none;
    text-transform: uppercase;
}
/* .button a, button-link{
    text-decoration: none;
}
*/
image {
    width:100%;
    height: auto;
}


.box-light-silver{
    background-color: #E2E2E2;
    max-width:1200px;
    margin:0 auto;
    padding: 1em;

}
.box-light-silver h1{
    font-size: 2em;

}

.content-box{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    justify-items: center;
}


/* ##########
Background-colors
############# */
.bg-light {
    background-color: #DCCECE;
}
.bg-dark {
    background-color: #8b8ada;
}
.bg-medium {
    background-color: #907eb9;
    color: #e2e2e2;
}
button:hover, .button:hover {
    color: red;
}

/* #####
Footer
######## */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #312F73 ;
    gap: 2em;
    border-top: solid #B5B0E4;

    color: #f2f2f2;
    padding: 2em;
}
footer.footer-box a, p{
    padding:0 1em;
}
.footer-box{
    background-color: #B5B0E4;
    border-radius: 20px;
    color: black;
}

/* #######
Slider
###### */
.slides {

    display:none;
}
.triangle-right {
    width: 0;
    height: 0;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #e2e2e2;

    border-top: 1em solid transparent;
}
.triangle-left {
    width: 0;
    height: 0;
    border-bottom: 1em solid transparent;

    border-right: 1em solid #e2e2e2;
    border-top: 1em solid transparent;
}

#left-button, #right-button {
    padding:1em;
}
.triangle-left:hover{
    border-right-color: red;

}
.triangle-right:hover{
    border-left-color: red;
}
.slider{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:#E2E2E2;

    padding: 2em;
    gap: 1em;
}