/* Main css with general things like footer and nav */
body{
    background-color: #BCC6CC;
    font-family: 'Roboto', sans-serif;
    margin:0;

}



/* ###############
Font-thingies
################*/


h1, .h2-big {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3em;
    color: #312F64;
}


.fais{
    font-family: "monoton", sans-serif;
}
.nav_fais{
    padding: 14px;
}

.text-white{
    color:#E2E2E2;
}
.text-centered{
    text-align: center;
}

/* #################
flex-properties
#############*/
.no-shrink{
    flex-shrink:0;
}
.flex-self-center{
    align-self: center;
}

/* ##############
NAVIGATION
###############*/


#topnav{
    display: flex;
    justify-content: space-between;
}


nav {
    min-height: 20px;
    background-color: #312f64;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    align-content: flex-end;
}

nav ul li, .l1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* border: 2px solid #333333; */
}

nav a {
    text-decoration: none;
    color: #E2E2E2;
    text-align: center;
    font-size: 17px;
}

nav ul li a {
    padding: 14px 16px;
    line-height: 3em;
}
@media screen and (min-width: 600px){


nav ul li:hover {
    background-color: #E2E2E2;
}

nav ul li:hover a {
    color: #333;
}
}

.nav_submenu { /* .nav_submenu */
    display: none;
    position: absolute;
}
/*

nav ul li:hover ul {
    display: block;
}

.l2 {
    display: inline-block;
    position: relative;
    background-color: #472f73;
}
nav ul li:hover ul li a {
    color: #f2f2f2;
}
*/
.icon{
    font-size: 2em;
    margin-right: 1em;
    padding: 0;
    line-height: normal;
    display:none;
}

@media screen and (max-width: 600px){
    .l1{
        position:relative;
        display:none;
    }
    .topnav.responsive {
        background-image: url("test.png")
    }

    .l1, .icon{
        background-color: #312f64;

    }


    .topnav.responsive li{
        display:flex;
        flex-direction: column;
    }
    .icon {
        display: block;
    }

}
.active-l .nav_link{
    /*background-color: #B5B0E4;*/
    background-color:#B5B0e4;
    color: #000;
}

/* ########
OTHER Stylings like boxes
#########*/
.legal-box{
    margin-bottom:1em;
    padding: 1em;
}

.flex-container{
    display:flex;

    flex-direction: row;
    padding: 2em;
    gap: 1em;

}
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

img {
    max-width: 500px;
    width: 100%
}

.button, button {
    border-radius: 100px;
    background-color: #472f73;
    color: #e2e2e2;
    text-align: center;
    padding: 10px;
    text-decoration:none;
    text-transform: uppercase;

}

image {
    width:100%;
    height: auto;
}


.box-light-silver{
    background-color: #E2E2E2;
    max-width:1200px;
    margin:0 auto;
    padding: 1em;
}


.content-box{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    justify-items: center;
}
.top-margin1{
    margin-top:1em;
}



/* ##########
Background-colors
############# */
.bg-light {
    background-color: #DCCECE;
}
.bg-dark {
    background-color: #8b8ada;
}
.bg-medium {
    background-color: #907eb9;
    color: #e2e2e2;
}
button:hover, .button:hover {
    color: red;
}

/* #####
Footer
######## */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #312F64 ;
    gap: 2em;
    border-top: solid #B5B0E4;

    color: #f2f2f2;
    padding: 2em;
}
footer.footer-box a, p{
    padding:0 1em;
}
.footer-box{
    background-color: #B5B0E4;
    border-radius: 20px;
    color: black;
}

/* #######
Slider
###### */
.slides {

    display:none;
}



#left-button, #right-button {
    padding:1em;
    font-size: 3vw;
    border:none;
}

.slider{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:#E2E2E2;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}

/* failed integration of triangles
.triangle-right {
    width: 0;
    height: 0;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #e2e2e2;

    border-top: 1em solid transparent;
}
.triangle-left {
    width: 0;
    height: 0;
    border-bottom: 1em solid transparent;

    border-right: 1em solid #e2e2e2;
    border-top: 1em solid transparent;
}
.triangle-left:hover{
    border-right-color: red;

}
.triangle-right:hover{
    border-left-color: red;
}
*/